@model IEnumerable<TP_ASPNET.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<partial name="_TodoesNavPartial" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 todo-item">
            <h4><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h4>
            <div>@Html.DisplayFor(modelItem => item.Description)</div>
        </div>
    }
</div>
