
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Hello, @User.Identity.Name</p></li>                 	 
        <li><a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">Log out</a></li>
    </ul>
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logout_form"></form>
}
else
{
    <ul class="nav navbar-nav navbar-right">   
        <li><a asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
    </ul>
}